ul{
    list-style: none;
}

li{
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.vl {
    border-left: 1px solid gray;
    height: 400px;
    margin-top: -18px;
  }

  @media (max-width: 768px) {
   
}

/* Media query for mobile devices (up to 576px width) */
@media (max-width: 576px) {
    .vl{
        display:  none;
    }
}