
  .product-container{
    scroll-behavior: smooth;
  }

  .addToCartBtn{
    background-color: black;
    color: white;
    transition: 1s ease-in-out;
  }
  .addToCartBtn:hover{
    border: 1px solid black;
  }

  .linkto{
    text-decoration: none;
  }