.formSearch{
    width: 300px;
}

@media (max-width: 768px) {
    .formSearch {
        width: 250px; /* Adjust width for tablet devices */
    }
    menu{
        margin-left: 0px;
    }
    .active{
        border-bottom: 0px solid gray;

        text-decoration: none;
        /*border-radius: 3px;*/
    }
}

/* Media query for mobile devices (up to 576px width) */
@media (max-width: 576px) {
    .formSearch {
        width: 200px; /* Adjust width for mobile devices */
    }
    menu{
        margin-left: 0px;
    }
    .active{
        border-bottom: 0px solid gray;

        text-decoration: none;
        /*border-radius: 3px;*/
    }
}

.menuhr{
    border: 1px solid rgb(112, 112, 112);
}

.active{
    border-bottom: 1px solid gray;

    text-decoration: none;
    /*border-radius: 3px;*/
}

.menu{
    text-decoration: none;
    text-align: center;
    margin-left: 40px;
}

.zIndex{
    z-index: 50;
}

.navClass{
    transition: all 1s;
}

menu{
    color: darkgray;
    text-align: center;
    margin-left: -40px;
}

.transitionOnProfileHidden {
    transition: transform 1s ease;
    transform: translateY(-200%);
}

.transitionOnProfile {
    transition: transform 1s ease;
    transform: translateY(0%);
}

.profileClass{
    background: rgba( 0, 0, 0, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
