.formSearch{
    width: 300px;
}

@media (max-width: 768px) {
    .formSearch {
        width: 250px; /* Adjust width for tablet devices */
    }
}

/* Media query for mobile devices (up to 576px width) */
@media (max-width: 576px) {
    .formSearch {
        width: 200px; /* Adjust width for mobile devices */
    }
}

.menuhr{
    border: 1px solid rgb(112, 112, 112);
}

.active{
    border-bottom: 1px solid gray;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 3px;*/
}

.menu{
    text-decoration: none;
    text-align: center;
    margin-left: 40px;
}

.zIndex{
    z-index: 50;
}

.navClass{
    transition: all 1s;
}

menu{
    color: darkgray;
    text-align: center;
}

