.btn1{
    border: 1px solid black!important;
}

.count{
    border: 1px solid black!important;
    height: 30px;
    text-align: center;
}

.deliver{
    font-size: 40px;
}

.deliverBorder{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}



.btn1:hover{
    background-color: red;
    border: none;
    color: white;
}

.blue:checked{
    background-color: blue;
    border:  2px solid black;
}
.blue{
    background-color: blue;
}
.red:checked{
    background-color: red;
    border: 2px solid black;
}
.red{
    background-color: red;

}

.mainImage{
    height: 500px;
}

.mainImageDiv{
    width: 700px;

}
.imageContainer{
    height: 590px;
}

.star{
    margin-right: 10px;
    font-size: 30px;
}

.custom-offcanvas-width{
    width: 800px!important;
    border-radius: 10px!important;
}
.btn-slider{
    transition: 1s all;
}

.btn-slider:hover{
    background-color: black!important;
}

.product-container2{
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .mainImageDiv{
        width: 100%;
    }
    .mainImage{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    .scrollImage{
        height: 100px
    }
    .imageContainer{
        height: 180px;
    }
    .custom-offcanvas-width{
        width: 400px!important;
        border-radius: 10px!important;
    }

}
