.btn1{
    border: 1px solid black!important;
}

.count{
    border: 1px solid black!important;
    height: 30px;
    text-align: center;
}

.deliver{
    font-size: 40px;
}

.deliverBorder{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.mainImage{
    height: 490px;
}

.btn1:hover{
    background-color: red;
    border: none;
    color: white;
}

.blue:checked{
    background-color: blue;
    border:  2px solid black;
}
.blue{
    background-color: blue;
}
.red:checked{
    background-color: red;
    border: 2px solid black;

}
.red{
    background-color: red;

}

.mainImageDiv{
    width: 700px;
}


@media (max-width: 768px) {
    .mainImageDiv{
        width: 300px;
    }
}
